*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #0b1604;
    max-width: 1240px;
    min-width: 320px;
    font-family: "Montserrat", serif;
    margin: 0 auto;
}
h1{
    color: #fffafa;
}
